.search-box{
    display: block;
}
.thumbnail-image{
    display: block;
    
}

.div1{
    display: inline-block;
    height: 100px;
    background-color: lightgray;
}

.div2{
    display: inline-block;
    height: 100px;
    background-color: lightpink
}

.div3{
    display: inline-block;
    height: 100px;
    background-color: lightblue
}
*{
    margin:0px;
}

.grid1{
    display: grid;
grid-template-columns:  50px 100px 50px;
}